* {
    box-sizing: border-box;
    font-family: Verdana, serif;
    color: #424242;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100%;
}

body {
    background-color: #F5F5F5;
}

main {
    padding: 1.5rem;
    margin: auto;
    background-color: #EEEEEE;
    min-height: 100%;
}

h1 {
    margin-bottom: .5em;
}

table{
    border-collapse: collapse;
    width:100%;
    font-size: .9em;
}

table.timetable td.film{
    background-position: center;
    background-size: auto 100%;
    cursor: pointer;
}

table.timetable td.quart {
    border-top: 1px solid #BDBDBD;
}

table.timetable td.hour, table.timetable td.film {
    border-top: 1px solid #424242;
}

table.timetable td.start, table.timetable td.film {
    border-left: 1px solid #424242;
}

table.timetable td:last-child, table.timetable td.film {
    border-right: 1px solid #424242;
}

table.timetable tr:last-child td, table.timetable td.film{
    border-bottom: 1px solid #424242;
}

@media only screen and (min-width: 768px) {
    main {
        max-width: 42rem;
    }
    table{
        font-size:inherit;
    }
}
